#body1 {
    background-color: #212121;
    text-align: center;
}

#unlock {
    color: #ffffff;
}

h2 {
    color: #ffffff;
    text-align: center;
}

h5 {
    color: #ffffff;
    text-align: center;
}

#feedback {
    color: #ffffff;
    text-align: center;
}

#homepage {
    color: #ffffff;
    display: none;
}

#homepage {
    animation: fadeIn ease 6s;
}

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

#footballcard {
    background-color: #363636;
    color: #ffffff;
}

#footballcardtext {
    color: #ffffff;
}

#homelogo {
    color: #116df6;
}

#homebutton {
    background-color: #ffffff;
    color: #116df6;
}

#homebutton1 {
    background-color: #ffffff;
    color: #116df6;
}

#footballtitle {
    color: #ffffff;
    text-align: center;
}

#nft {
    align-items: center;
    justify-content: center;
}

#body3 {
    text-align: center;
    color: #ffffff;
    background-color: #212121;
}

#wink {
    color: #ffffff;
}

#slideone {
    color: #000;
}

#slidetwo {
    color: #ffffff;
    text-shadow: 2px 2px #000;
}

#slidethree {
    color: #000;
}

#slidethree1 {
    color: #ffffff;
    text-shadow: 2px 2px #000;
}

#musicunlock {
    text-align: center;
    justify-content: center;
    align-items: center;
}

#emoji {
    color: #ffffff;
}

#intro {
    justify-content: center;
    align-items: center;
    display: none;
    color: #ffffff;
}

#intro1 {
    width: 0ch;
    overflow: hidden;
    white-space: nowrap;
    animation: text 6s steps(32);
    border-right: 1px solid white;
}

@keyframes text{
    0% {
        width: 0ch;
    }
    50% {
        width: 50%;
    }
}

#spotifylogo {
    width: 28px;
    height: 28px;
}

.centered {
    text-align: center;
}

#ty {
    background-color: #CD7750;
}

#mac {
    background-color: #28BDE5;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#frank {
    background-color: #C6D2AA;
}

#kali {
    background-color: #175200;
}

#roc {
    background-color: #c87114;
}

#kendrick {
    background-color: #284264;
}

#bob {
    background-color: #576680;
}

.footer{
    background-color: #d3d3d3;
    color: black;
    margin-top: 30px;
    padding-top: 20px;
    bottom: 0px;
    width: 100%;
}

#spotify {
    width: 35px;
    height: 35px;
}

#nobuo {
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #8c9e9b;
}

#poll {
    align-items: center;
    justify-content: center;
    text-align: center;
}

#dmode {
    background-color: #9894a5;
}

#polo {
    background-color: #6b5a50;
}

#dpr {
    background-color: #6a6042;
}

#rhcp {
    background-color: #82371c;
}

#yo {
    background-color: #066ab0;
}

#fb {
    background-color: #fb6916;
}

#swim {
    background-color: #da9fa5;
}

#circles {
    background-color: #9c9c9c;
}

#mm {
    background-color: #445c4c;
}

#cb {
    background-color: #42a8bf;
}

#bssm {
    background-color: #99463a;
}

#z {
    background-color: #d2b26b;
}

#hof {
    background-color: #562418;
}

#wusyaname {
    background-color: #e5dab9;
}

#baba {
    background-color: #7185b4;
}

#mon {
    background-color: #80b6be;
}

#yes {
    background-color: #ece811;
}

#pa {
    background-color: #3a4fee;
}

#ys {
    background-color: #f7bcc5;
}

#chrono {
    background-color: #ed9831;
}
